body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: white;
}

form p {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}

form input[type="text"],
form input[type="file"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color:black;
    font-size: 14px;
    outline: none;
}

form input[type="submit"] {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background-color: #00cfff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

form input[type="submit"]:hover {
    background-color: #00b0dc;
}

.denied-box {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    background: #222;
    border: 2px solid red;
    border-radius: 12px;
    color: white;
    box-shadow: 0 0 15px red;
}
