.hero {
    background-image: url("/static/images/library.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}


.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    @media (max-width: 768px) {
        .hero {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top center;
            height: auto;
            padding-top: 60%;
            padding-bottom: 20px;
        }
    }

}